/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: azure;
}

.jumbotron {
    background-color: #2a8ecc;
	color: #9ce0a2;
}